.emoji-report-item {
  background-image: linear-gradient(
    145.12deg,
    rgba(114, 104, 117, 0.21) 1.78%,
    rgba(117, 116, 117, 0) 125.71%
  );
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 230px;
  height: 200px;
  padding: 30px 80px 30px 80px;
  gap: 24px;
  border-radius: 27px;
  opacity: 0px;
  margin-top: 30px;
}
.emoji-name {
  text-align: center;
  font-weight: 500;
}
.emoji-url {
  width: 50px;
  height: 50px;
  gap: 0px;
  opacity: 0px;
}
.emoji-count {
  text-align: center;
  font-weight: 500;
}
