.header-item {
  color: #adadad;
  list-style-type: none;
  text-decoration: none;
  padding-top: 12px;
  padding-right: 20px;
}
@media screen and (max-width: 768px) {
  .header-item {
    font-size: 15px;
  }
}
.list {
  list-style-type: none;
  font-size: 18px;
}
