.nav-bar {
    width: 100%;
}
.logout-button {
    background-color: transparent;
    border-color: #ffbe38;
    border-style: solid;
    border-width: 1px;
    color: #ffbe38;
    width: 120px;
    margin-right: 50px;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    align-self: center;
    cursor: pointer;
  }
  .logo-head {
    color: #ffbe38;
    font-family: 'Roboto';
    padding-left: 20px;
  }

  @media screen and (max-width: 768px) {
    .logout-button {
        width: 90px;
    }
    .logo-head {
        font-size: 10px;
    }
  }